<ion-view title="About" id="page5">
  <ion-content padding="true" class="has-header">
    <h2>Über CMM</h2>
    <p>
      Du bist auf der Suche nach Schnäppchen am Gebrauchtwagenmarkt?
      Völlig unabhängig davon, ob du eine Privatperson oder ein Autohändler bist, hast du mit CMM den klaren Vorteil am Markt!
    </p>
    <p>
      Auf mehreren Portalen verteilt, befinden sich im deutschsprachigen Raum mehr als 5 Millionen Inserate. Unter diesen Inseraten sind Schnäppchen zu finden,
      mit denen du hohe Gewinne erzielen kannst. Dein Hauptproblem ist, dass die Suche sehr Zeitintensiv ist und echte Schnäppchen innerhalb einer unvorstellbar
      kurzen Zeit verkauft sind. Hier kommt unsere „Autosuch-App“ ins Spiel!
    </p>
    <p>
      CMM ist eine App, die im Hintergrund für dich nach Autos sucht, die du als „Schnäppchen“ definierst.
      Unsere App kann wesentlich schneller als ein Mensch eine Vielzahl von Suchen durchführen.
      Zusätzlich sorgen wir dafür, dass du die erste Person bist, die das Schnäppchen sieht und benachrichtigen
      dich mit Hilfe von Push-Benachrichtigungen auf deinem Smartphone!
    </p>
  </ion-content>
</ion-view>