<form ng-submit="createCriteriaStep3(criteria)">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-divider">Fuel Type?</div>
      <ion-checkbox ng-model="criteria.diesel">Diesel</ion-checkbox>
      <ion-checkbox ng-model="criteria.gasoline">Gasoline</ion-checkbox>
      <ion-checkbox ng-model="criteria.electro">Elektro</ion-checkbox>
    </div>
  </ion-content>
  <ion-footer-bar class="p0">
    <button type="submit" class="button button-full button-balanced m0">Next</button>
  </ion-footer-bar>
</form>