<form ng-submit="createCriteriaStep1(criteria)">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-divider">Which Car are you interested in?</div>
      <label class="item item-input" name="tags">
        <span class="input-label">Tags</span>
        <input type="text" ng-model="criteria.tags" placeholder="Tesla Model 3">
      </label>
    </div>
  </ion-content>
  <ion-footer-bar class="p0">
    <button type="submit" class="button button-full button-balanced m0">Next</button>
  </ion-footer-bar>
</form>
