<form ng-submit="createCriteriaStep4(criteria)">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-divider">Which Platforms?</div>
      <ion-checkbox ng-model="criteria.autoscout24_de">Autoscout24.de</ion-checkbox>
      <ion-checkbox ng-model="criteria.autoscout24_at">Autoscout24.at</ion-checkbox>
      <ion-checkbox ng-model="criteria.willhaben">Willhaben</ion-checkbox>
    </div>
  </ion-content>
  <ion-footer-bar class="p0">
    <button type="submit" class="button button-full button-balanced m0">Create</button>
  </ion-footer-bar>
</form>