<ion-view title="Add Criteria" id="page7">
  <ion-content padding="true" class="has-header">
    <form ng-submit="createCriteria(criteria)" class="list">
      <label class="item item-input" name="tags">
        <span class="input-label">Tags</span>
        <input type="text" ng-model="criteria.tag" placeholder="Tesla Model 3">
      </label>
      <label class="item item-input">
        <span class="input-label">Max. Price</span>
        <input type="number" ng-model="criteria.max_price" placeholder="12.000">
      </label>
      <label class="item item-input">
        <span class="input-label">Max. KM</span>
        <input type="number" ng-model="criteria.max_km" placeholder="50.000">
      </label>
      <label class="item item-input">
        <span class="input-label">Min. Year</span>
        <input type="number" ng-model="criteria.min_year" placeholder="2002">
      </label>
      <label class="item item-input">
        <span class="input-label">Max. Year</span>
        <input type="number" ng-model="criteria.max_year" placeholder="2016">
      </label>
      <label class="item item-input">
        <span class="input-label">Fuel</span>
        <input type="number" ng-model="criteria.fuel" placeholder="Diesel">
      </label>
      <ion-checkbox>Autoscout24.de</ion-checkbox>
      <button type="submit" id="addCriteria-button7" class="button button-positive  button-block">Create</button>
    </form>
  </ion-content>
</ion-view>