<ion-view title="{{ 'CRITERIAS' | translate }}" id="page6">
  <ion-content padding="false" class="has-header">
    <ion-list>
      <ion-item ng-repeat="criteria in criterias" ng-click="openEditModal(criteria)">
        <strong>{{criteria.tags}}:</strong> {{criteria.maxPrice | currency}} · 0-{{criteria.maxKmState | number}}KM · {{criteria.minBuildYear}}
      </ion-item>
    </ion-list>
    <div ng-if="!criterias.length" class="row row-center">
      <div class="col col-center">
        No criterias created.
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-balanced" ui-sref="tabsController.add">Create new Criteria</button>
      </div>
    </div>
  </ion-content>
</ion-view>