<ion-view hide-tab-bar title="{{openedCar.title}}" id="page8" ng-controller="detailViewCtrl">
  <ion-content padding="false" class="has-header">
    <div class="item item-image">
      <img src="{{openedCar.image}}" style="max-height: calc(100vh - 50px)">
      <div class="price-label" ng-if="openedCar.price">{{openedCar.price}}€</div>
    </div>
    <ul class="list" style="margin-bottom: 128px;">
      <li class="item" ng-if="openedCar.address">Address: {{openedCar.address}}</li>
      <li class="item" ng-if="openedCar.bodyType">Body Type: {{openedCar.bodyType}}</li>
      <li class="item" ng-if="openedCar.buildYear">
        Built: <span ng-if="openedCar.buildMonth">{{openedCar.buildMonth}} / </span>{{openedCar.buildYear}}
      </li>
      <li class="item">Seller:
        <span ng-if="openedCar.dealer">Dealer</span>
        <span ng-if="!openedCar.dealer">Private</span>
      </li>
      <li class="item" ng-if="openedCar.diesel">Fuel: Diesel</li>
      <li class="item" ng-if="openedCar.kmState">KM-State: {{openedCar.kmState}}km</li>
      <span ng-if="showMore">
        <li class="item" ng-if="openedCar.description">{{openedCar.description}}</li>
        <li class="item">Provider: {{openedCar.provider}}</li>
        <li class="item">ID: {{openedCar.id}}</li>
        <li class="item">Identifier: {{openedCar.identifier}}</li>
        <li class="item" ng-if="openedCar.date">Found at: {{openedCar.date | date}}</li>
      </span>
      <button ng-click="showMore = !showMore" id="addCriteria-button7" class="button button-full button-stable m0">
        {{ showMore ? 'Less Details ...' : 'More Details ...'}}
      </button>
    </ul>
  </ion-content>
  <ion-footer-bar class="" style="bottom: 0 !important;">
    <div class="button-bar">
      <a href="tel:" ng-click="incrementCarClick()" class="button icon ion-android-call button-balanced"></a>
      <a href="https://willhaben.com" ng-click="incrementCarClick()" class="button icon ion-android-open button-dark"></a>
      <a href="mailto:" ng-click="incrementCarClick()" class="button icon ion-android-mail button-energized"></a>
    </div>
  </ion-footer-bar>
</ion-view>