<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Edit Criteria</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <form class="list">
      <label class="item item-input" name="tags">
        <span class="input-label">Tags</span>
        <input type="text" placeholder="Tesla Model 3">
      </label>
      <label class="item item-input">
        <span class="input-label">Max. Price</span>
        <input type="number" placeholder="12.000">
      </label>
      <label class="item item-input">
        <span class="input-label">Max. KM</span>
        <input type="number" placeholder="50.000">
      </label>
      <label class="item item-input">
        <span class="input-label">Min. Year</span>
        <input type="number" placeholder="2002">
      </label>
      <label class="item item-input">
        <span class="input-label">Max. Year</span>
        <input type="number" placeholder="2016">
      </label>
      <label class="item item-input">
        <span class="input-label">Fuel</span>
        <input type="number" placeholder="Diesel">
      </label>
    </form>
    <form class="list"></form>
    <form class="list">
      <ion-checkbox>Autoscout24.de</ion-checkbox>
    </form>
    <button id="editCriteria-button22" class="button button-positive  button-block">Update</button>
    <button id="editCriteria-button24" class="button button-assertive  button-block">Delete</button>
  </ion-content>
</ion-modal-view>
