<ion-view title="Listing" id="page12">
    <ion-content padding="true" class="has-header">
        <h1 id="listing-heading4" style="color:#000000;">Heading</h1>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="listing-markdown8" style="color:#000000;">
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
    </ion-content>
</ion-view>