<ion-view title="Login" id="page8">
  <ion-content padding="true" class="has-header">
    <span ng-if="!isAuthenticated()">
      <button ng-click="authenticate('facebook')" id="login-button11" class="button button-positive  button-block icon-left ion-social-facebook">Sign in with Facebook</button>
      <button ng-click="authenticate('google')" id="login-button12" class="button button-assertive  button-block icon-left ion-social-google">Sign in with Google</button>
      <form novalidate="novalidate" on-valid-submit="login()">
        <div class="list">
          <div class="item item-divider">Or Login with Email:</div>
          <label class="item item-input validated">
            <span class="input-label">E-Mail</span>
            <input type="text" ng-model="user.email" placeholder="" required name="email">
            <i class="icon ion-alert-circled error"></i>
          </label>
          <label class="item item-input validated">
            <span class="input-label">Password</span>
            <input type="password" ng-model="user.password" required name="password" placeholder="">
            <i class="icon ion-alert-circled error"></i>
          </label>
        </div>
        <button type="submit" id="login-button8" class="button button-balanced  button-block">Log in</button>
        <button ui-sref="signup" id="login-button9" class="button button-positive  button-block button-clear">Or create an account</button>
      </form>
    </span>
    <span ng-if="isAuthenticated()">
      <h1>You are logged in already</h1>
      <button ng-click="logout()" id="login-button8" class="button">Logout</button>
    </span>
  </ion-content>
</ion-view>