<ion-view title="Premium" id="page13" ng-controller="premiumCtrl as vm">
  <ion-content padding="true" class="has-header">
    <h1>Get CMM-Premium</h1>
    <div id="premium-markdown9" style="color:#000000;">
      <p>Be ahead of your competition and receive unlimited instant Notifications and Results about new Cars from several Car Markets, for just
        <strong>€19,99 / month</strong>
      </p>
    </div>
    <button stripe-checkout="vm.doCheckout"
            data-key="pk_test_4jGQ8zdPbK4Y2eOpTf8ASTUX"
            data-name="CMM Premium"
            data-description="Subscription for CMM"
            data-amount="1999"
            class="button button-positive  button-block">
      Get Unlimited Results: {{ 19.99 | currency }}/Month
    </button>
  </ion-content>
</ion-view>