<ion-view title="Premium" id="page13" class="welcome-bg">
  <ion-content padding="true" class="has-header">
    <!--
<h1>CMM Premium</h1>
<p ng-if="currentUser.remainingLicenseDuration == 0 && !currentUser.subscriber" >
<span>Verbleibende Kontaktanfragen:</span>
<strong ng-class="{redtext: currentUser.clickCount == 5, greentext: currentUser.clickCount < 5}">{{currentUser.clickCount}} von 5 benutzt</strong>
</p>
<p ng-if="!currentUser.subscriber">Verbleibende Linzenzdauer: <strong>{{currentUser.remainingLicenseDuration}} Tage</strong></p>
<p ng-if="currentUser.subscriber" class="greentext">CMM Premium Abo aktiv.</p>
-->
    <span ng-if="!products">
      <h4 style="color: #fff;">Premium Vorteile:</h4>
      <div class="list">
        <div class="item">
          <i class="ion-checkmark listicon"></i><strong>Unendlich Resultate</strong>
        </div>
        <div class="item">
          <i class="ion-checkmark listicon"></i><strong>Unendlich Kriterien</strong>
        </div>
        <div class="item">
          <i class="ion-checkmark listicon"></i><strong>Push-Benachrichtigungen</strong>
        </div>
        <div class="item">
          <i class="ion-checkmark listicon"></i><strong>Unlimitiert Kontaktanfragen</strong>
        </div>
      </div>
      <h4 style="color: #fff;">Kostenlose Demo:</h4>
      <div class="list">
        <div class="item">
          <i class="ion-checkmark listicon"></i><strong>5 Kontaktanfragen/Monat</strong>
        </div>
        <div class="item">
          <i class="ion-checkmark listicon"></i><strong>Max. 3 Kriterien</strong>
        </div>
      </div>
    </span>

    <button ng-repeat="product in products" ng-click="buy(product.productId)" class="button button-block button-positive">
      {{product.title}}: {{product.price}}
    </button>
    <!--
<h3>Restore Purchases</h3>
<button ng-click="restore()" class="button button-block button-balanced">
<i class="ion-refresh"></i> Restore
</button>-->


    <!-- Stripe Payment Buttons
<div class="list">
<div class="item item-divider">Subscription License</div>
<button ng-if="!currentUser.subscriber" ng-disabled="currentUser.remainingLicenseDuration > 0" ng-repeat="p in paymentPackages | filter:{subscription:true} | orderBy:'position'" ng-click="setPaymentPackage(p)" stripe-checkout="doCheckout"
data-key="{{stripePublishable.stripePublishable}}"
data-name="{{p.name}}"
data-email="{{currentUser.email}}"
data-description="{{p.description}}"
data-bitcoin="false"
data-locale="auto"
data-image="{{p.image}}"
data-amount="{{p.price}}"
data-currency="eur"
class="button button-balanced button-block">
{{p.name}}: {{ (p.price / 100) | currency:"€":2 }}/Month
</button>
<button ng-if="currentUser.subscriber" ng-click="cancelSubscription()" class="button button-assertive button-block">Cancel Subscription</button>
<div ng-if="!currentUser.subscriber" class="item item-divider">Fixed Price Licenses</div>
<button ng-if="!currentUser.subscriber" ng-repeat="p in paymentPackages | filter:{subscription:false} | orderBy:'position'" ng-click="setPaymentPackage(p)" stripe-checkout="doCheckout"
data-key="{{stripePublishable.stripePublishable}}"
data-name="{{p.name}}"
data-email="{{currentUser.email}}"
data-description="{{p.description}}"
data-image="{{p.image}}"
data-amount="{{p.price}}"
data-currency="eur"
class="button button-positive  button-block">
{{p.name}}: {{ (p.price / 100) | currency:"€":2 }}
</button>
</div>
-->
  </ion-content>
  <ion-footer-bar ng-show="!products" class="p0">
    <button ng-click="loadProducts()" class="button button-full button-balanced m0">
      CMM Premium aktivieren
    </button>
  </ion-footer-bar>
</ion-view>