<ion-view title="Settings" id="page11">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-toggle toggle-class="toggle-positive">Push Notifications</ion-toggle>
            <ion-item class="range range-positive">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <ion-toggle toggle-class="toggle-positive">E-Mail Notifications</ion-toggle>
        </form>
        <button id="settings-button25" class="button button-positive  button-block">Tap me!</button>
    </ion-content>
</ion-view>