<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Results" icon="ion-android-car" href="#/page1/results">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Add" icon="ion-plus" ng-click="modal.show()"><!-- ui-sref="tabsController.add.tags"-->
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Criterias" icon="ion-android-list" href="#/page1/criterias">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>

