<ion-view title="Welcome" hide-nav-bar="true"  class="welcome-bg" id="page8">
  <ion-content padding="true" class="welcome-page" has-header="false">
    <div class="logo-box">
      <i class="icon ion-android-car"></i>
      <h1>Wagen Markt</h1>
      <h2>Monitor</h2>
      <p>Finde Auto Schnäppchen von österreichischen Marktplätzen in Echtzeit</p>
    </div>
    <div>
      <button ui-sref="signup" class="button button-balanced  button-block">Kostenlos Registrieren</button>
      <button ui-sref="login" class="button button-block">Hast du bereits einen Account?</button>
    </div>
  </ion-content>
</ion-view>